html
	head
		meta(charset="UTF-8")
		script(src="/lib/zepto.js")
	body
		h1 reopen drawing
		input(id="id" type="number" required)
		button(id="open") OK
		h1 start new drawing
		a(href="/new")
			button OK
		script.
			$('#open').on('click', function(e) {
				e.preventDefault();
				var id = $('#id').val();
				window.location = '/id/' + id;
			})
