html
	head
		meta(charset="UTF-8")
		script(src="/js/bundleIndex.js")
	body
		h1 reopen drawing
		input(id="id" type="number" required)
		button(id="open") OK
		h1 start new drawing
		a(href="/new")
			button OK

